<header class="p-navigation" style="border-bottom: 1px solid #e8e8e8;">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
       <h2 class="p-navigation__link"><a href="/">{{ .Site.Title }}</a> </h2>
    </div>
    <nav class="p-navigation__nav" style="justify-content: flex-end;">
        <ul class="p-navigation__items">
            {{ range .Site.Menus.main }}
            <li class="p-navigation__item "><h3><a class="p-navigation__link" href="{{ .URL }}">{{ .Name }}</a></h3></li>
            {{ end }}
         </ul>
    </nav>
  </div>
</header>
