<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">
    <link rel="stylesheet" href="{{ absURL "css/vanilla.css" }}">
    <link rel="canonical" href="{{ .Permalink }}" />
    <style>
        body{margin:0 auto; width:80%;}
        @media(max-width:50rem) {
            body {
                padding: 10px;
            }
        }
        img{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
