<div class="row" style="margin: 20px 0">
  <div class="col-3">
    {{ with .Params.image }} <img src="{{ . }}" alt="" class="u-image-position--left"> {{ end }}
  </div>
  <div class="col-9">
    <h3>{{ .Title }}</h3>
    <div>{{ .Params.authors }}</div>
    <div style="font-style: italic;">{{ .Params.conference }}</div>
    <div>
      {{ with .Params.link }}<span style="padding: 0 .1em 0 .1em;"><a href="{{ . }}">Project page</a></span> | {{ end }}
      {{ with .Params.paper }}<span style="padding: 0 .1em 0 .1em;"><a href="{{ . }}">Paper</a></span> | {{ end }}
      {{ with .Params.video }}<span style="padding: 0 .1em 0 .1em;"><a href="{{ . }}">Video</a></span> | {{ end }}
      {{ with .Params.supplemental }}<span style="padding: 0 .1em 0 .1em;"><a href="{{ . }}">Supplemental</a></span> | {{ end }}
      {{ with .Params.code }}<span style="padding: 0 .1em 0 .1em;"><a href="{{ . }}">Code</a></span> | {{ end }}
      {{ with .Params.bibtex }}<span style="padding: 0 .1em 0 .1em;"><a href="{{ . }}">BibTeX</a></span>{{ end }}
    </div>
  </div>
</div>