<div class="row" style="margin: 20px 0">
  <div class="col-3">
    {{ with .Params.image }} <img src="{{ . }}" alt="" class="u-image-position--left"> {{ end }}
  </div>
  <div class="col-9">
    <h3>{{ .Title }}</h3>
    {{ with .Content }} <div> {{ . }} </div> {{ end }}
    <div>
      {{ with .Params.link }}<span style="padding: 0 .1em 0 .1em;"><a href="{{ . }}">Code</a></span>{{ end }}
    </div>
  </div>
</div>