{{ define "main" }}
<section id="about">
  <div class="row">
    <div class="col-10">
        {{ .Content }}
        <p> 
            {{ with .Site.Params.email }}<span style="font-weight: 500">email:</span>&nbsp;&nbsp;{{ . }}<br>{{ end }}
            {{ if .Site.Params.address }}
                <span style="display:inline-block;">
                    <span style="font-weight: 500">address:</span>
                    &nbsp;&nbsp;
                    {{ range after 1 .Site.Params.address }} <br>&nbsp; {{ end }}
                </span>
                <span style="display:inline-block;">
                    {{ range .Site.Params.address }} {{ . }}<br>{{ end }}
                </span>
            {{ end }}
        </p>
    </div>
    <div class="col-2">
      {{ with .Site.Params.avatar }}
      <img src="{{ . }}" style="max-height: 80%;" alt="Profile picture">
      {{ end }}
    </div>
  </div>
</section>
<section id="publications">
    <div class="row" style="margin-top: .25em;
        padding-top: 1em;
        border-top: 2px dashed rgba(0,0,0,0.2);">
      <p>
        My website has been moved to <a href="https://djourdan.netlify.app/">this address</a>. 
     </p>
</section>
{{ end }}
